@import "../../styles/colors.scss";

.container {
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  padding: 0;
  position: sticky;
  top: 0;
  & .elements {
    width: min(90%, 1400px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    & .logo {
      grid-column: span 1;
      font-size: 2.5rem;
      user-select: none;
      & .word {
        color: $cta;
      }
    }

    & .links {
      grid-column: span 1;
      justify-self: center;
      list-style-type: none;
      display: flex;
      gap: 1.75em;
      & .link {
        padding: 1.5em 0;
        color: $tertiary;
        font-size: 1.35rem;
      }
    }
  }
}

.main {
  width: min(90%, 1400px);
  margin: 0 auto;
}
